
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@model string

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <div>
        <label for="email">Email:</label>
        @Html.TextBox("email", "", new { type = "email" })
        <input type="submit" value="Reset Password" />
    </div>
}
