
@{
    Layout = null;
}
@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<script src="~/Content/JS/JavaScript.js"></script>
        <script src="~/Content/JS/JavaScript1.js"></script>
        <script src="~/Content/JS/JavaScript2.js"></script>
        <script src="~/Content/JS/JavaScript3.js"></script>
        <script src="~/Content/JS/JavaScript4.js"></script>
        <script src="~/Content/JS/JavaScript5.js"></script>*@
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div>
        <h1>Hello from index</h1>
    </div>
</body>
</html>
